{{ define "main" }}
<div class="menu">
  <div class="logo-container content-column-content">
    <a href="https://softwaresupp.com/"><img src="https://assets-global.website-files.com/5e04ad880b1ac599dfe98c97/6112c63d6772bf46bd7a48f5_5f82c0848f8ef57e710b66c6_SoftwareSupp%20logo%20compressed%20(4).png" alt="Logo" class="logo"></a>
    <div class="menu-description">The Agency of the Future</div>
  </div>
  <ul class="menu-items">
    <li><a href="https://softwaresupp.com/jobs">Jobs</a></li>
    <li><a href="https://softwaresupp.com/portfolio">Portfolio</a></li>
    <li><a href="https://softwaresupp.com/subscribe">Deposit</a></li>
    <li><a href="https://calendly.com/softwaresupp/software-consultation">Book a call</a></li>
    <li><a href="https://softwaresupp.com/login">Login</a></li>
    <li><a href="https://softwaresupp.com/kanal-technologiczny-polska" class="bold">News</a></li>
    <li><a href="https://calendly.com/softwaresupp/software-consultation" class="btn-green">Hire Talent</a></li>
    <li><a href="https://softwaresupp.com/cennik-softwaresupp"><img src="https://assets-global.website-files.com/5e04ad880b1ac599dfe98c97/637d32af1e7cca40407d2e70_Poland-min.png" alt="Logo" class="PL"></a></li>
  </ul>
</div>
<div class="content-column white-background">
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
          <h1>{{ .Title }}</h1>
          <!-- Using flex container for the layout -->
        <div class="author-container">
          <!-- 1st column with 50px width
          <div class="author-img-column">
            <img src="https://news.softwaresupp.com{{.Params.authorimg}}" alt="" class="img-author">
          </div>
          <!-- 2nd column with the rest of the width 
          <div class="author-info-column">
            {{ .Params.author }}
          </div> -->
        </div>
         <img src="https://news.softwaresupp.com{{.Params.image}}" alt="" class="img-article">
         {{ .Content }}
         {{ template "_internal/disqus.html" . }}
      </div>
      <div class="col-lg-4">
    </div>
  </div>
 <div class="col-lg-4 text-center">
  <a href="https://calendly.com/softwaresupp/software-consultation" class="btn btn-success rounded-pill fixed-top-btn">Umów darmową konsultację</a>
</div>
</div>
{{ template "footer" . }}
{{ end }}

{{ define "footer" }}
<footer class="footer content-column-content">
  <div class="footer-content">
    <p>&copy; Copyright SoftwareSupp.com 2024</p>
    <p>SoftwareSupp is a legal international entity, <br>incorporated in Wroclaw, Poland.</p><br/>
    <p>SoftwareSupp Sp. z o.o.</p>
    <p>TAX ID: PL8992845287</p><br/>
    <p>support@softwaresupp.com</p>
    <p>US: +1 (518) 241 4050</p>
    <p>PL: +48 609 281 092</p><br/>
    <p><a href="https://calendly.com/softwaresupp/software-consultation" class="link">Book a call</a></p>
  </div>
</footer>
{{ end }}