<script src="{{ "https://news.softwaresupp.com/js/jquery.min.js" | absURL }}"></script>
<script src="{{ "https://news.softwaresupp.com/js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "https://news.softwaresupp.com/js/jquery.cookie.js" | absURL }}"> </script>
<script src="{{ "https://news.softwaresupp.com/js/ekko-lightbox.js" | absURL }}"></script>
<script src="{{ "https://news.softwaresupp.com/js/jquery.scrollTo.min.js" | absURL }}"></script>
<script src="{{ "https://news.softwaresupp.com/js/masonry.pkgd.min.js" | absURL }}"></script>
<script src="{{ "https://news.softwaresupp.com/js/imagesloaded.pkgd.min.js" | absURL }}"></script>
<script src="{{ "https://news.softwaresupp.com/js/owl.carousel.min.js" | absURL }}"></script>
<script src="{{ "https://news.softwaresupp.com/js/front.js" | absURL }}"></script>

{{ if .Site.Params.analytics.matomo }}
  {{ partial "_analytics/matomo.html" . }}
{{ end }}
